html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #e7e8e8;
  background: #0f1318;
}

.nf-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nf-grid img {
  width: 160px;
}

.nf-item button {
  cursor: pointer;
}

.burn-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #200d0ad6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burn-pop span {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 11px;
  font-size: 42px;
  font-weight: 100;
}

.mint-container {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
}

.Navbar {
  text-align: center;
  margin-bottom: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.Navbar ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.allowList iframe {
  margin-top: 80px;
  width: 100%;
  height: 533px;
}
